<p><strong>Your word:</strong> <%= @word %></p>
<p><strong>Time Taken to answer:</strong> <%= @result[:time] %></p>
<p><strong>Translation:</strong> <%= @result[:translation] %></p>
<p><strong>Your score:</strong> <%= @result[:score] %></p>
<p><strong>Message:</strong> <%= @result[:message] %></p>
